launch.json
vscode
.idea
/precision+recall.txt
/doc/report.bbl
/doc/report.bcf
/doc/report.blg
/doc/report.run.xml
/doc/report - Kopie.pdf
/doc/report.aux
/doc/report.log
/doc/report.out
/doc/report.pdf
/doc/report.synctex.gz
